<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td>  <td>Participants are encouraged to <a href="setup">follow setup instructions</a> a day before the workshop</td> </tr>
      <tr> <td>12:00 Pacific</td>  <td><a href="02-introduction"> Introduction to Name Alignment </a></td> </tr>
      <tr> <td>12:10 Pacific</td>  <td><a href="03-Github-and-name-alignment-tool"> Navigating Github & the name-alignment-tool</a></td> </tr>
      <tr> <td>12:20 Pacific</td>  <td>Using the name-alignment-tool</td> </tr>
      <tr> <td>12:40 Pacific</td>  <td>What do these resolutions actually mean?</td> </tr>
      <tr> <td>13:00 Pacific</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
